<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />  
    </startup>

  <appSettings>
    <!-- The assembly name of the default repository. Use the format Fully.Qualified.Class.Name, Assembly.FileName -->
    <add key="DefaultRepositoryUser" value="Salon_de_infrumusetare.DAL.UserDAO, Salon de infrumusetare"/>
    <add key="DefaultRepositoryServicii" value="Salon_de_infrumusetare.DAL.ServiciiDAO, Salon de infrumusetare"/>
    <add key="DefaultRepositoryProgramari" value="Salon_de_infrumusetare.DAL.ProgramareDAO, Salon de infrumusetare"/>
  </appSettings>
</configuration>