<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragmentsAdmin :: head"></head>
<body class="container">

<header th:replace="fragmentsAdmin :: header"></header>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Employee Data</th>
    </tr>
    </thead>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.userEmail}"></td>
        <td th:text="${employee.userType}"></td>
    </tr>

</table>

</body>
</html>